{% trans_default_domain 'admin' %}

{% extends 'PuzzleAdminExpertiseBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.service.update"|trans }} {{ service.name }} {% endblock %}

{% block mainsubtitle %} - {{ "expertise.service.base"|trans }} {% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ url('admin_expertise_service_list') }}">{{ "expertise.service.list"|trans }}</a></li>
    <li class="active">{{ "expertise.service.update"|trans }}</li>
{% endblock %}

{% block mainpage %}
    {% include 'PuzzleAdminExpertiseBundle:Service:form.html.twig' with { ' form' : form, 'service' : service } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/puzzleadmin/js/pages/uploader.js'
        output = 'compiled/js/admin_expertise_editor.min.js'
    %}
    	<script src="{{ asset_url }}" type="text/javascript"></script>
   	{% endjavascripts %}
{% endblock %}

