{% trans_default_domain 'admin' %}

{% extends 'PuzzleAdminExpertiseBundle::layout_editor.html.twig' %}

{% block title %}{{ parent() }} - {{ "expertise.faq.create"|trans }} {% endblock %}

{% block mainsubtitle %} - {{ "expertise.faq.base"|trans }} {% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ url('admin_expertise_faq_list') }}">{{ "expertise.faq.list"|trans }}</a></li>
    <li class="active">{{ "expertise.faq.create"|trans }}</li>
{% endblock %}

{% block mainpage %}
    <div class="col-md-10 col-md-offset-1">
        {% include 'PuzzleAdminExpertiseBundle:Faq:form.html.twig' with { ' form' : form } %}
    </div>
{% endblock %}

